<form class="form">
    <div class="container">
        <div class="row mb-4">
            <div class="col-9 text-center mb-2">
                <label for="inputUsername1" class="sr-only">Search</label>
                <input type="text" class="form-control" #student id="inputUsername1" placeholder="Search">
            </div>

            <div class="col-3 text-center mb-2">
                <button type="submit" class="btn btn-secondary">Search</button>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col">
        <nav>
            <div class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Classes</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Parent/Teacher</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active text-left" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <hr>
                <div *ngIf="!messages" class="container">
                    <p ><em>Loading...</em></p>
                </div>
                <div class="container" *ngIf="messages">
                    <div class="row" *ngFor="let message of messages">
                        <div class="row">
                            <a [routerLink]="['/read-messages']">
                                <div class="col-8">
                                    <h5>{{message.from}}</h5>
                                </div>
                                <div class="col-3">
                                    <h6>{{message.date}}</h6>
                                </div>
                                <div class="col-1 text-right">
                                    <a href="#"><i class="fas fa-angle-right"></i></a>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="truncate mb-0">{{message.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>