                <!-- Message Thread partial-->

                <div class="container pt-3 pb-1">
                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>To: Peter Parker > May Parker</h5>
                        </div>
                        <div class="col-12 text-right">
                            <h6>04/10/18</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-left  mb-4">
                            <p class="mb-0">Your son got bit by a spider on the school field trip. I hope there are no long term affects.</p>
                        </div>
                    </div>
                </div>
                
                <!-- every other container has a class of br-gray added -->
                <div class="container bg-gray pt-3 pb-1">
                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>From: Peter Parker > May Parker</h5>
                        </div>
                        <div class="col-12 text-right">
                            <h6>04/10/18</h6>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col text-left">
                            <p class="mb-0">He's actually my newphew. Long story. I love him, but sometimes he has me climbing the walls.</p>
                        </div>
                    </div>
                </div>
                
                <div class="mb=4">&nbsp;</div>
                
                <!-- Message Thread partial -->