                <!-- Message Landing Screen Partial-->

                <div class="container">
                    <div class="row">
                        <div class="col-2 mt-2">
                            <a href="#" class="text-secondary"><i class="fas fa-angle-left fa-2x"></i></a>
                        </div>
                        <div class="col-8 text-center mt-2">
                            <h5>Messages</h5>
                        </div>
                        <div class="col-2 mt-2">
                            <a href="#" class="text-secondary"><i class="far fa-edit larger25"></i></a>
                        </div>
                    </div>
                </div>

                <hr class="mt-1">

                <form class="form">
                    <div class="container">
                        <div class="row mb-4">
                            <div class="col-9 text-center mb-2">
                                <label for="inputUsername1" class="sr-only">Search</label>
                                <input type="text" class="form-control" id="inputUsername1" placeholder="Search">
                            </div>

                            <div class="col-3 text-center mb-2">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col">
                        <nav>
                            <div class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Classes</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Students</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active text-left" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <hr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5>All School Messages</h5>
                                        </div>
                                        <div class="col-3">
                                            <h6>Yesterday</h6>
                                        </div>
                                        <div class="col-1 text-right">
                                            <a href="#" class="text-secondary"><i class="fas fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="truncate mb-0">Next Wednesday is Picture Day. Please remind your student to look their best. Thank you for your help.</p>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5>5th Grade Class A</h5>
                                        </div>
                                        <div class="col-3">
                                            <h6>04/10/18</h6>
                                        </div>
                                        <div class="col-1 text-right">
                                            <a href="#" class="text-secondary"><i class="fas fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="truncate mb-0">Tomorrow is the last day for all students in the English class to turn in the big paper.</p>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5>5th Grade Class B</h5>
                                        </div>
                                        <div class="col-3">
                                            <h6>04/9/18</h6>
                                        </div>
                                        <div class="col-1 text-right">
                                            <a href="#" class="text-secondary"><i class="fas fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="truncate mb-0">Math is good. Addding is good. Subtracting isn't good, but it is necessary.</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>

                            <div class="tab-pane fade text-left" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <hr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="truncate">Tommy Tutone > Tina Turner</h5>
                                        </div>
                                        <div class="col-3">
                                            <h6>Today</h6>
                                        </div>
                                        <div class="col-1 text-right">
                                            <a href="#"><i class="fas fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="truncate mb-0">Your student keeps writing his number on the wall. We are concerned.</p>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="truncate">Peter Parker > May Parker</h5>
                                        </div>
                                        <div class="col-3">
                                            <h6>04/10/18</h6>
                                        </div>
                                        <div class="col-1 text-right">
                                            <a href="#"><i class="fas fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="truncate mb-0">Your son got bit bby a spider on the school field trip.</p>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="truncate">Alanis Morissette > Parent Name</h5>
                                        </div>
                                        <div class="col-3">
                                            <h6>04/9/18</h6>
                                        </div>
                                        <div class="col-1 text-right">
                                            <a href="#"><i class="fas fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="truncate mb-0">There are some anger issues we need to discuss. Her song writing is very good though.</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="truncate">Michael Jordan > James Jordan</h5>
                                        </div>
                                        <div class="col-3">
                                            <h6>04/9/18</h6>
                                        </div>
                                        <div class="col-1 text-right">
                                            <a href="#"><i class="fas fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="truncate mb-0">He seems very disappointed he didn't make the basketball team. Perhaps he should try baseball.</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="truncate">Michael Jordan > Deloris Jordan</h5>
                                        </div>
                                        <div class="col-3">
                                            <h6>04/9/18</h6>
                                        </div>
                                        <div class="col-1 text-right">
                                            <a href="#"><i class="fas fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="truncate mb-0">He seems very disappointed he didn't make the basketball team. Perhaps he should try baseball.</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                
                    <!-- End of Message Landing Screen Partial-->