                <!-- New Message Partial -->

                <div class="container">
                    <div class="row">
                        <div class="col-2 mt-2">
                            
                        </div>
                        <div class="col-8 text-center mt-2">
                            <h5>New Message</h5>
                        </div>
                        <div class="col-2 mt-2">
                            <a href="#" class="text-secondary">Cancel</a>
                        </div>
                    </div>
                </div>

                <hr class="mt-1">

                <form class="form">
                    <div class="container">
                        <div class="row mb-1">
                            <div class="col-12 text-center mb-3">
                                <label for="inputUsername1" class="sr-only">To</label>
                                <input type="text" class="form-control" id="inputUsername1" placeholder="To">
                            </div>
                            <div class="col-12 text-center mb-2">
                                <label for="inputUsername1" class="sr-only">Message</label>
                                <textarea rows="10" type="text" class="form-control" id="inputUsername1" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="container">
                    <div class="row">
                        <div class="col text-center mb-2">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
                
                <!-- End of New Message Partial -->