<div class="row">
    <hr>
    <div *ngIf="!messages" class="container">
        <p ><em>Loading...</em></p>
    </div>
    <div class="container" *ngIf="messages">
        <div class="row" *ngFor="let message of messages">
            <div class="container pt-3 pb-1">
                <div class="row">
                    <div class="col-12 text-left">
                        <h5>To: {{message.to}}</h5>
                    </div>
                    <div class="col-12 text-right">
                        <h6>{{message.date}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left  mb-4">
                        <p class="mb-0">{{message.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="form">
        <div class="container">
            <div class="row mb-1">
                <div class="col-12 text-center mb-2">
                    <label for="inputUsername1" class="sr-only">Message</label>
                    <textarea rows="10" type="text" class="form-control" id="inputUsername1" placeholder="Message"></textarea>
                </div>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="row">
            <div class="col text-center mb-2">
                <button type="submit" class="btn btn-primary">Reply</button>
            </div>
        </div>
    </div>
    <hr>
</div>