                <!-- Edit a Class Partial -->

                <div class="container">
                    <div class="row">
                        <div class="col-2 mt-2">
                            <a href="#"><i class="fas fa-angle-left fa-2x"></i></a>
                        </div>
                        <div class="col-8 text-center mt-2">
                            <h5>Edit a Class</h5>
                        </div>
                        <div class="col-2 mt-2">
                            
                        </div>
                    </div>
                </div>

                <hr class="mt-1">

                <div class="container">
                    <div class="row">
                        <div class="col text-left">
                            <h4>Name of Class</h4>
                        </div>
                    </div>
                </div>
               
                <div class="container">
                    <div class="row bg-gray mb-4">
                        <div class="col-10 text-left mt-2">
                            <h6>5th Grade Class A</h6>
                        </div>
                        <div class="col-2 mt-1">
                            <a href="#"><i class="far fa-edit larger25"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col text-left">
                            <h4>Grade</h4>
                        </div>
                    </div>
                </div>
               
                <div class="container">
                    <div class="row bg-gray mb-4">
                        <div class="col-10 text-left mt-2">
                            <h6>5th Grade</h6>
                        </div>
                        <div class="col-2 mt-1">
                            <a href="#"><i class="far fa-edit larger25"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                       <div class="col-6 text-left">
                            <h4>Teacher</h4>
                        </div>
                       <div class="col-6 text-right">
                          <a href="#"><i class="far fa-plus-square larger25"></i> Add Teacher</a>
                        </div>
                    </div>
                </div>
               
                <div class="container">
                    <div class="row bg-gray mb-4">
                        <div class="col-2 mt-1">
                            <a href="#"><i class="far fa-times-circle larger25"></i></a>
                        </div>
                        <div class="col-8 text-left mt-2">
                            <h6>Ms. Morgenstein</h6>
                        </div>
                        <div class="col-2 mt-1">
                            
                        </div>
                    </div>
                </div>
                
               <div class="container">
                    <div class="row">
                       <div class="col-6 text-left">
                            <h4>Student</h4>
                        </div>
                       <div class="col-6 text-right">
                          <a href="#"><i class="far fa-plus-square larger25"></i> Add Student</a>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row bg-gray mb-3">
                        <div class="col-2 mt-1">
                            <a href="#"><i class="far fa-times-circle larger25"></i></a>
                        </div>
                        <div class="col-8 text-left mt-2">
                            <h6>Chris Instagramma</h6>
                        </div>
                        <div class="col-2 mt-1">
                            
                        </div>
                    </div>
                </div>
               
                <div class="container">
                    <div class="row bg-gray mb-3">
                        <div class="col-2 mt-1">
                            <a href="#"><i class="far fa-times-circle larger25"></i></a>
                        </div>
                        <div class="col-8 text-left mt-2">
                            <h6>Geoff Skype</h6>
                        </div>
                        <div class="col-2 mt-1">
                            
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row bg-gray mb-3">
                        <div class="col-2 mt-1">
                            <a href="#"><i class="far fa-times-circle larger25"></i></a>
                        </div>
                        <div class="col-8 text-left mt-2">
                            <h6>Jessi Slack</h6>
                        </div>
                        <div class="col-2 mt-1">
                            
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row bg-gray mb-3">
                        <div class="col-2 mt-1">
                            <a href="#"><i class="far fa-times-circle larger25"></i></a>
                        </div>
                        <div class="col-8 text-left mt-2">
                            <h6>Gina Snap</h6>
                        </div>
                        <div class="col-2 mt-1">
                            
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row bg-gray mb-3">
                        <div class="col-2 mt-1">
                            <a href="#"><i class="far fa-times-circle larger25"></i></a>
                        </div>
                        <div class="col-8 text-left mt-2">
                            <h6>Barbara Spark</h6>
                        </div>
                        <div class="col-2 mt-1">
                            
                        </div>
                    </div>
                </div>

                <!-- End of Edit a Class Partial -->