                <!-- Teacher Add Edit Partial -->

                <div class="container">
                    <div class="row">
                        <div class="col-2 mt-2">
                            
                        </div>
                        <div class="col-8 text-center mt-2">
                            <h5>Teacher Add &#124; Edit</h5>
                        </div>
                        <div class="col-2 mt-2">
                            <a href="#" class="text-secondary">Cancel</a>
                        </div>
                    </div>
                </div>

                <hr class="mt-1">

                <form class="form">
                    <div class="container">
                        <div class="row mb-1">
                            <div class="col-12 text-center mb-3">
                                <label for="inputTeacherFirstName" class="sr-only">Teacher First Name</label>
                                <input type="text" class="form-control" id="inputTeacherLast Name" placeholder="Teacher First Name">
                            </div>
                            <div class="col-12 text-center mb-3">
                                <label for="inputTeacherLastName" class="sr-only">Teacher Last Name</label>
                                <input type="text" class="form-control" id="inputTeacherLastName" placeholder="Teacher Last Name">
                            </div>
                            <div class="col-12 text-center mb-3">
                                <label for="inputTeacherID" class="sr-only">Teacher ID &#35;</label>
                                <input type="text" class="form-control" id="inputTeacherID" placeholder="Teacher ID &#35;">
                            </div>
                            <div class="col-12 text-center mb-3">
                                <label for="inputTeacherMobile" class="sr-only">Mobile &#35;</label>
                                <input type="text" class="form-control" id="inputTeacherMobile" placeholder="Mobile &#35;">
                            </div>
                            <div class="col-12 text-center mb-3">
                                <select class="custom-select">
                                  <option selected>Select Mobile Carrier</option>
                                  <option value="AllTel">AllTel</option>
                                  <option value="AT&amp;T">AT&amp;T</option>
                                  <option value="Boost Mobile">Boost Mobile</option>
                                  <option value="Cricket">Cricket</option>
                                  <option value="Sprint">Sprint</option>
                                  <option value="T-Mobile">T-Mobile</option>
                                  <option value="US-Cellular">US Cellular</option>
                                  <option value="Verizon">Verizon</option>
                                  <option value="Virgin-Mobile">Virgin Mobile</option>
                                </select>
                            </div>
                            <div class="col-12 text-center mb-3">
                                <label for="inputTeacherEmail" class="sr-only">Email</label>
                                <input type="text" class="form-control" id="inputTeacherEmail" placeholder="Email">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="container">
                    <div class="row">
                        <div class="col text-center mb-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
                
                <!-- End of Teacher Add Edit Partial -->