<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center mt-2">
            <h5>Login</h5>
            <hr>
        </div>
    </div>
</div>
<form class="form" (submit)="login()">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-2">
                <label for="inputUsername1" class="sr-only">Username &#42;</label>
                <input type="text" class="form-control" id="inputUsername1" [(ngModel)]="user.username" name="username" placeholder="Username &#42;">
            </div>
            <div class="col-sm-12 text-center mb-2">
                <label for="inputPassword2" class="sr-only">Password &#42;</label>
                <input type="password" class="form-control" id="inputPassword2" [(ngModel)]="user.password" name="password" placeholder="Password &#42;">
            </div>
            <div class="col-sm-12 text-center mb-2">
                <button type="submit" class="btn btn-secondary">Login</button>
            </div>
        </div>
    </div>
</form>
