<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center mt-2">
            <h5>New Account Setup</h5>
            <hr>
        </div>
    </div>
</div>
<form class="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-2">
                <label for="inputUsername1" class="sr-only">Username &#42;</label>
                <input type="text" class="form-control" id="inputUsername1" #account.name placeholder="Username &#42;">
            </div>
            <div class="col-sm-12 text-center mb-2">
                <label for="inputPassword2" class="sr-only">Password &#42;</label>
                <input type="password" class="form-control" id="inputPassword2" #account.password placeholder="Password &#42;">
            </div>
            <div class="col-sm-12 text-center mb-2">
                <button type="button" class="btn btn-secondary" (click)="grabFormValuesForPost(account.name.value, account.password.value)">Save</button>
            </div>
        </div>
    </div>
</form>
