<div class=''>
            <ul class="">
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Student']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Classes']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Classes']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/create-account']">
                        <span class='glyphicon glyphicon-th-list'></span> Create account
                    </a>
                </li>
                <li [routerLinkActive]="['list-messages']">
                    <a [routerLink]="['/list-messages']">
                        <span class='glyphicon glyphicon-th-list'></span> Messages
                    </a>
                </li>
            </ul>
        </div>

