               <!-- Dashboard - Landing Page Partial -->

               <div class="container">
                    <div class="row mb-4">
                        <div class="col-6 text-center">
                           <a href="messages-landing.html">
                             <div class="card dashboard-tile">
                              <div class="card-body">
                                <p class="card-text mb-1"><i class="fas fa-comment-alt fa-3x"></i></p>
                                <h6 class="card-title mb-0">Messages</h6>
                              </div>
                            </div>
                            </a> 
                        </div>
                        
                        <div class="col-6 text-center">
                           <a href="#">
                             <div class="card dashboard-tile">
                              <div class="card-body">
                                <p class="card-text mb-1">
                                <i class="fas fa-calendar fa-3x"></i></p>
                                <h6 class="card-title mb-0">Calendar</h6>
                              </div>
                            </div>
                            </a> 
                        </div>
                        
                    </div>
                </div>   
                
                            
                 <div class="container">
                    <div class="row mb-4">
                        <div class="col-6 text-center">
                           <a href="#">
                             <div class="card dashboard-tile">
                              <div class="card-body">
                                <p class="card-text mb-1"><i class="fas fa-user fa-3x"></i></p>
                                <h6 class="card-title mb-0">My Account</h6>
                              </div>
                            </div>
                            </a> 
                        </div>
                        
                        <div class="col-6 text-center">
                           <a href="#">
                             <div class="card dashboard-tile">
                              <div class="card-body">
                                <p class="card-text mb-1"><i class="fas fa-clipboard-list fa-3x"></i></p>
                                <h6 class="card-title mb-0">Admin</h6>
                              </div>
                            </div>
                            </a> 
                        </div>
                        
                    </div>
                </div>
                
            <!-- End of Dashboard - Landing Page Partial -->