                <!-- Teacher Search with Add New Teacher Button -->

                <div class="container">
                    <div class="row">
                        <div class="col-2 mt-2">
                            <a href="#" class="text-secondary"><i class="fas fa-angle-left fa-2x"></i></a>
                        </div>
                        <div class="col-8 text-center mt-2">
                            <h5>Teacher Search</h5>
                        </div>
                        <div class="col-2 mt-2">
                            <a href="#" class="text-secondary">Cancel</a>
                        </div>
                    </div>
                </div>

                <hr class="mt-1">

                <form class="form">
                    <div class="container">
                        <div class="row mb-2">
                            <div class="col-12 text-left">
                                <h4>Search Existing Teacher</h4>
                            </div>
                            <div class="col-9 text-center mb-2">
                                <label for="inputTeacherName" class="sr-only">Teacher Name</label>
                                <input type="text" class="form-control" id="inputTeacherName" placeholder="Teacher Name">
                            </div>

                            <div class="col-3 text-center mb-2">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
                
                <div class="container">
                    <div class="row">
                       <div class="col text-left mb-3">
                          <a href="#" class="text-secondary"><i class="far fa-plus-square larger25"></i> Add New Teacher</a>
                        </div>
                    </div>
                  </div>
                  
                <div class="container">
                    <div class="row">
                        <div class="col text-center mb-4">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>

                <!-- End of Teacher Search with Add New Teacher Button -->